#portfolio{
    height: auto;
    width: 100vw;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}


.round-skills-portfolio{
    position: absolute;
    top: 50%;
    transform: translate(-4%);
    right: 4%;
    width: 5px;
    height: 5px;
    box-shadow: var(--shadow);
    background: var(--primary--color);
}

#portfolio::before{
    content: '';
    width: 2px;
    margin-top: .4rem;
    height: 23rem;
    right: 4%;
    position: absolute;
    transform: translate(-46%);
    background: var(--primary--color);
}
#portfolio::after{
    content: '';
    width: 2px;
    height: 23rem;
    position: absolute;
    bottom: 0%;
    right: 4%;
    transform: translate(-46%);
    background: var(--primary--color);
}

.portfolio_txt{
    text-align: center;
    margin-bottom: 2rem;
}
.portfolio_txt > h1 {
    margin-bottom: 1rem;
}

.portfolio_tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.portfolio_tabs > ul {
    display: flex;
    gap: 2rem;
}
.portfolio_tabs > ul > li {
    font-size: 20px;
    padding: .4rem;
    cursor: pointer;
    position: relative;
    color: whitesmoke;
    border: 2px solid var(--primary--color);
}
.portfolio_tabs > ul > li::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: var(--primary--color);
    border-radius: inherit;
    transform: scale(0.9);
    filter: blur(10px);
    opacity: 0;
    transition: var(--transition);
    z-index: -1;
}
.portfolio_tabs > ul > li:hover::before{
    transform: scale(1);
    filter: blur(0);
    opacity: 1;

}
.portfolio__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: .9rem;
    row-gap: 1rem;
    padding-bottom: 1rem;
    transition: var(--transition);
}

.portfolio_card_conents_hide {
    display: none;
}
.portfolio_card_conents_sow{
    display: block;
}
.portfolio_card {
    box-shadow: var(--shadow);
    padding: .5rem .5rem 1rem .5rem;
    border-radius: 10px;
}

.card_img > img {
    border-radius: 10px;
    opacity: .7;
    transition: var(--transition);
    object-fit: cover;
    height: 10rem;
}
.card_img > img:hover{
    transform: scale(1.1);
}
.card_text h5 {
    font-family: Gumela;
    padding: .5rem 0;
    font-size: 18px;
    color: var(--primary--color);
}
.card_text p {
    font-size: 16px;
    margin-bottom: .3rem;
}
.card_link{
    display: flex;
    justify-content: space-between;
}


/* ************************************************* */
/* RESPONSIVE DESGIN  -> mobile devices*/ 
/* ************************************************* */

@media screen and (max-width:500px) {

    
#portfolio::before{
    content: '';
    width: 2px;
    margin-top: .4rem;
    height: 56.5rem;
    right: 4%;
    position: absolute;
    transform: translate(-46%);
    background: var(--primary--color);
}
#portfolio::after{
    content: '';
    width: 2px;
    height: 56.5rem;
    position: absolute;
    bottom: 0%;
    right: 4%;
    transform: translate(-46%);
    background: var(--primary--color);
}

.portfolio_tabs > ul {
    gap: 1rem;
}
.portfolio_tabs > ul > li {
    font-size: 14px;
    padding: .3rem;
}


    .portfolio__container {
        display: grid;
        grid-template-columns: 1fr  ;
        row-gap: 1rem;
    }

}


/* ************************************************* */
/* RESPONSIVE DESGIN -> tablet */
/* ************************************************* */

@media screen and (max-width:900px) and (min-width:501px) { 
        
#portfolio::before{
    content: '';
    width: 2px;
    margin-top: .4rem;
    height:35.5rem;
    right: 4%;
    position: absolute;
    transform: translate(-46%);
    background: var(--primary--color);
}
#portfolio::after{
    content: '';
    width: 2px;
    height: 35.5rem;
    position: absolute;
    bottom: 0%;
    right: 4%;
    transform: translate(-46%);
    background: var(--primary--color);
}

    .portfolio__container {
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        row-gap: 1rem;
    }
    
}
